body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
 
.App{
  background-color: #b60715; 
  width: 900px;
  margin:60px auto;
}


.row > .container{
  text-align: center;
  width: 350px;
  height: 60px;
  margin-bottom: 16px;
  padding: 14px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  
}

 .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
}


img{
  width: 60px;
  margin: auto;
}

input{
  width: 300px;
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  margin:30px 0 10px 0 ;
  outline: none;
}
